* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.espacoLateral {
    max-width: 1400px;
    width: 80vw;
    margin: 0 auto;

}

@font-face {
    font-family: "italiana";
    src: url(./fonts/Italiana-Regular.ttf);

}

@font-face {
    font-family: "Itim";
    src: url(./fonts/Itim-Regular.ttf);
}

@font-face {
    font-family: "Rasa";
    src: url(./fonts/Rasa-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Karma";
    src: url(./fonts/Karma-Regular.ttf);
}


.banner {
    background-image: url(./imgs/Banner.png);
    height: 125vh;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 165px;
    gap: 180px;
}

header img {
    width: 180px;
}

.menu {
    max-width: 600px;
    width: 70%;

    display: flex;
    justify-content: space-between;
}

.menu a {
    color: #000000;
    font-size: 25px;
    color: black;
    font-family: "italiana";

    text-decoration: underline transparent;
    text-decoration-thickness: 2px;

    transition: text-decoration 500ms ease;
}

.menu a:hover {
    text-decoration-color: rgb(0, 0, 0);
}


.conteudo-banner ul {
    color: #F46B27;
}

#sobre {
    display: flex;
    align-items: center;
    gap: 80px;
    margin-top: 120px;
    margin-bottom: 120px;
    font-family: "rasa";
    font-size: 30px;
}


#sobre img {
    max-width: 460px;
    width: 40%;
    border-radius: 40px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
}

#sobre p {
    font-family: "itim";
    font-size: 30px;
    text-align: justify;
    margin-top: 50px;
}


section img {
    height: 605px;
    width: 462px;
    border-radius: 50px;
    margin-top: 80px;
    display: flex;
    align-items: center;
}

section p {
    display: flex;
    align-items: center;
    height: 165px;
    font-size: 25px;
    display: flex;
    align-items: center;
}


.conteudo-sobre img {
    margin-top: 70px;
    max-width: 460px;
    width: 40%;
}


#parallax {
    height: 250px;

    background: linear-gradient(rgba(0, 0, 0, 0.22)), url(./imgs/Parallax-patinhas2.png);
    background-attachment: fixed;
    background-size: 30%;
    margin-bottom: 120px;
}

.conteudo-sobre-um {
    display: flex;
    align-items: center;
    font-family: "karma";
}

.conteudo-sobre-um img {

    max-width: 460px;
    width: 40%;
    margin-right: 40px;
}


.conteudo-sobre-dois {
    display: flex;
    align-items: center;
    font-family: "Karma";
    margin-bottom: 30px;
}

.conteudo-sobre-dois img {

    max-width: 460px;
    width: 40%;
    margin-right: 40px;

}

#parallax {
    height: 250px;

    background: linear-gradient(rgba(0, 0, 0, 0.22)), url(./imgs/Parallax-patinhas2.png);
    background-attachment: fixed;
    background-size: 30%;
    margin-bottom: 120px;
}

